APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:0zHbQiv2gOqCR0MiLdL/MCM0va8jeFEiy1emkUXhiyk=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=redis
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
QUEUE_DRIVER=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST= mail.test-redchain.ru
MAIL_PORT=25
MAIL_USERNAME=tak@test-redchain.ru
MAIL_PASSWORD=P6n8H3q5
MAIL_ENCRYPTION=null




PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1


CRANE_CLIENT_IP = 129.0.0.1
CRANE_MEMBER = false
CRANE_PASSWORD = Test123
CRANE_USERNAME = CHISTA


MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TWILIO_SID=ACf4381e26f6e4dc5e99296754e6fd9644
TWILIO_TOKEN=4a03430cb1da938423d2f39d69eccf8d
