/node_modules
/public/hot
/public/storage
/public/reports
/config/debugbar.php
/public/assets/js/bundle.js
/storage/app/public/reports
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.idea
composer.lock
laravel-echo-server.json
laravel-echo-server.lock

storage/daily\.json
